.inputText{
    border: none;
    outline: none;
    padding: 5px 5px 5px 10px;
    font-size: 16px;

    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

    width: 300px;
}

.sendButton{
    border: none;

    height: 100%;
    background-color: brown;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 15px 6px 15px;

    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.sendButton:disabled{
    opacity: 0.2;
    text-decoration: line-through;
    cursor: default;
}

.inputComponents{
    border: 3px solid brown;
    border-radius: 18px;
    background-color: brown;
    padding-left: 1px;

    margin: 20px 0;

    display: flex;
    align-items: center;
}

.buttonTypesWrapper input[type="radio"] {
    display: none;
}
  
.buttonTypesWrapper label {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    cursor: pointer;

    box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
  
.buttonTypesWrapper input[type="radio"]:checked+label {
    text-decoration: underline;
}

.buttonTypesWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}


/*
    .radio:checked ~ .typeButtons{
    border: 10px solid aqua;
}
*/