.checkBox:checked ~ .listTitle{
    text-decoration: line-through;
    opacity: 40%;
}

.checkBox{
    align-self: flex-start;
    margin-top: 7px;
}

.toDoItemWrapper{
    max-height: 200px;
    width: 100%;
    align-self: flex-start;

    display: flex;
    align-items: center;
}

.listTitle{
    font-size: 20px;
    width: inherit;
    max-height: 200px;

    margin-left: 8px;

    overflow: auto;
}

.toDoButtonsWrapper button{
    margin-right: 10px;
}

.toDoButtonsWrapper {
    margin-top: 10px;
}

.toDoExhibit{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    padding: 10px;
    margin: 20px;

    background-color: azure;
}

.textareaEdit{
    width: inherit;
    height: 200px;
    resize: none;
    border: none;
    outline: none;
}