* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "EnchantedLand";
    src: url("fonts/EnchantedLand.otf");
}

main{
    height: 100vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
}

.inputSection{
    width: 35vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outputSection{
    width: 65%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    
    padding-right: 20px;
}

.boardTitle{
    text-align: center;
    font-family: "EnchantedLand";
    font-size: 40px;
    padding: 10px 0;
}